# Ignore all .venv directories
.venv/
# Ignore all node_modules directories
node_modules/
# Ignore all build directories
build/
# Ignore all dist directories
dist/
# Ignore .env files
.env
# Ignore all pdf files
*.pdf
# Ignore the backend/uploads directory
backend/uploads/
agent/chroma_db/
agent/faiss/index/  
# Ignore the pycache directory
__pycache__/
# Ignore the data directory
data/
temp_uploads/

package-lock.json
